* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    color: #ffffff;
    line-height: 1.6;
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem 0rem 10rem;
    max-width: 1440px;
    margin-inline: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a::before {
    content: "#";
    display: inline-block;
    vertical-align: middle;
    color: #C778DD;
}

section {
    padding: 5rem 10rem;
    max-width: 1440px;
    margin-inline: auto;
}

.hero-section {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.2rem;
    color: #cccccc;
    max-width: 600px;
}

.primary-button {
    padding: .5rem 1rem;
    font-size: 1rem;
    width: fit-content;
    border: 1px solid #C778DD;
    background-color: transparent;
    color: #ffffff
}

.primary-button:hover {
    background-color: #C778DD;
    cursor: pointer;
}

.hero-image-container {

}

.hero-image-container img {
    width: 350px;
    height: auto;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

.about-content p {
    font-size: 1.2rem;
    color: #cccccc;
    max-width: 600px;
}

.hash-and-line {
    font-size: 2rem;
}

.hash-and-line::before {
    content: "#";
    color: #C778DD;
}

.hash-and-line::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 15rem;
    height: 1px;
    background: #C778DD;
    margin-left: 1rem;
}

.about-content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.about-content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.about-image-container {
    position: relative;

}

.about-image-container::after {
    content: "";
    position: absolute;
    right: 2rem;
    display: block;
    width: 50%;
    height: 1px;
    background: #C778DD;
    margin-top: 4rem;
}

.about-image-container img {
    width: 450px;
    height: 350px;
}

.experience-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
}

.experience-content-wrapper ul{
    width: fit-content;
}

.experience-content-wrapper > ul > li:nth-of-type(2) {
    margin-top: 2rem;
}


.experience-content-wrapper ul li {
    list-style: none;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.experience-content-wrapper ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
}

.experience-panel {
    display: none;
    width: 30%;
    height: 30%;
}

.experience-panel.active {
    display: block;
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding-block-start: 4rem;
}

.skill-container {
    flex: 1 0 10rem;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
}

.skill-container h4 {
    padding: .5rem;
    font-size: 1rem;
    border-bottom: 1px solid #cccccc;
}

.skill-container p {
    padding: .5rem;
    font-size: 1rem;
    font-style: italic;
}

.projects-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
    padding-block-start: 4rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 20rem;
    border: 1px solid #cccccc;
}

.project-image-container {
    width: 100%;
    height: 10rem;
    border: 1px solid #cccccc;
}

.project-image-container img {

}

.project-container > p {
    font-size: 1.25rem;
    padding: .5rem;
    border: 1px solid #cccccc;
}

.project-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #cccccc;
    padding: 1rem;
}

.project-info-container h4 {
    font-size: 1.75rem;
}

.project-button-wrapper {
    display: flex;
    gap: 1.25rem;
}

.hobbies-container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 4rem;
}

.hobbies-info-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 20rem;
}

.hobbies-info {
    display: flex;
    max-width: 5rem;
    border: 1px solid #cccccc;
    padding: .5rem;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 4rem;
}

.links-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #cccccc;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    border-top: 1px solid #cccccc;
    padding: 5rem 10rem;
    max-width: 1440px;
    margin-inline: auto;
}

.footer-info-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-media-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #cccccc;
    padding: 1rem;
}

.footer-links-container {
    display: flex;
    gap: .5rem;
}

.footer-links-container img {
    width: 2rem;
    height: 2rem;
}

.footer-copyright-container {
    font-size: 1rem;
    color: #ABB2BF;
}