* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    color: #ffffff;
    line-height: 1.6;
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem 0rem 10rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

section {
    padding: 5rem 10rem;
}

.hero-section {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.2rem;
    color: #cccccc;
    max-width: 600px;
}

button {
    padding: .5rem 1rem;
    font-size: 1rem;
    width: fit-content;
    border: 1px solid #C778DD;
    background-color: transparent;
    color: #ffffff
}

button:hover {
    background-color: #C778DD;
    cursor: pointer;
}

.hero-image-container {

}

.hero-image-container img {
    width: 450px;
    height: 350px;
}

.about-section {
    display: flex;
    justify-content: space-between;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.about-content h2 {
    font-size: 2rem;
}

.about-content p {
    font-size: 1.2rem;
    color: #cccccc;
    max-width: 600px;
}

.about-content h2::before {
    content: "#";
    color: #C778DD;
}

.about-content h2::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 15rem;
    height: 1px;
    background: #C778DD;
    margin-left: 1rem;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.about-image-container {

}

.about-image-container img {
    width: 450px;
    height: 350px;
}
